<h1>Presentations</h1>
<%= link_to "New Presentation", new_presentation_path %>
<ul>
  <% @presentations.each do |presentation| %>
    <li>
      <%= presentation.presentation_name %>
    </li>
  <% end %>
</ul>
